<%= simple_form_for(@contact, :url => @url, :method => :post) do |f| %>
  <% if @contact.errors.any? %>
    <div id="error_explanation">
      <h4><%= pluralize(@contact.errors.count, t(:erreur)) %> <%= t(:empecher_message) %> : <% @contact.errors.full_messages.each do |msg| %>
        <br> <%= msg %>
      <% end %></h4>
    </div>
  <% end %>

<%= f.label :name, label: t(:votre_nom) %><br />
  <div class="field">
    <%= f.text_field :name, placeholder: t(:obligatoire) %>
  </div>
  <%= f.label :email, label: t(:votre_email) %><br />
  <div class="field">
    <%= f.text_field :email, placeholder: t(:obligatoire) %>
  </div>
    <%= f.label :tel, label: t(:votre_tel) %><br />
  <div class="field">
    <%= f.text_field :tel, placeholder: t(:optionel)%>
  </div>
  <%= f.label :message, label: 'Message ' %><br />
  <div class="field">
    <%= f.text_area :message, placeholder: t(:votre_message), class:'message' %>
  </div>
  <div class="actions">
    <%= invisible_recaptcha_tags class:"bouton btn btn-lg", text: t(:envoyer) %>
  </div>
<% end %>

