<div class="container">
  <div class="info-card-tjd">
    <h2 style='text-align: center'><%= INFOS[:societe] %></h2>
    <p style='text-align: center' ><%= t(:antiquaire) %></p>
    &nbsp;
    <h3><i class="far fa-calendar-alt"></i> <%= t(:rdv) %></h3>
    <div class="mini-u"></div>
    <h3><i class="fas fa-map-marker-alt"></i> <%= INFOS[:adresse] %></h3>
    <div class="mini-u"></div>
    <h3><i class="fas fa-envelope-square"></i> <%= INFOS[:email] %> </h3>
    <div class="mini-u"></div>
    <h3><i class="fas fa-phone-square"></i> <%= INFOS[:tel] %></h3>
    <div class="mini-u"></div>
    <h3><a href="<%= INFOS[:insta] %>" target="blank"><i class="fab fa-instagram"> </i> Instagram</a></h3>
  </div>
</div>