<nav class="navbar navbar-expand-md justify-content-between navbar-tjd">
  <!-- Logo -->
  <a href="/" class="navbar-brand">
    <%= image_tag 'Logo_blanc.png', alt: "logo", title: "Vitrine Module Logo", loading: "lazy" %>
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"><i class="fas fa-bars"></i></span>
  </button>
  <!-- Right Navigation -->
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <%= link_to t(:accueil), root_path, class:"nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to t(:service), services_path, class:"nav-link" %>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <%= t(:galerie) %>
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <%= link_to t(:categories), categorie_path, class:"dropdown-item nav-link" %>
          <div class="dropdown-divider"></div>
          <% CATEGORIES_NAV.each do |cat| %>
            <%= link_to t(cat), cat, class:"dropdown-item nav-link" %>
          <% end %>
        </div>
      </li>
      <li class="nav-item">
        <%= link_to "SHOWROOM", showroom_path, class:"nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "CONTACT", contacts_path, class:"nav-link" %>
      </li>
      <li class="nav-item nav-link">
        <% if I18n.locale == I18n.default_locale %>
          <%= link_to (image_tag "GB.png", alt: "english flag", title:"change to english version", loading:"lazy"), { :locale=>'en' } %>
        <% else %>
          <%= link_to (image_tag "FR.png", alt: "french flag", title:"changer pour la version en français", loading:"lazy"), { :locale=>'fr' } %>
        <%end%>
      </li>
    </ul>
  </div>
</nav>