<% if product.vendu || product.reserve %>
  <div class="product-card-tjd" style="background-image: linear-gradient(to top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.8)), url(<%= url_for(product.photo_couverture) %>);">
<% else %>
  <div class="product-card-tjd" style="background-image: url(<%= url_for(product.photo_couverture) %>);">
<% end %>
  <div class="infos"></div>
  <div class="nom"> <%= (product.nom).truncate(28) %></div>
  <% if product.vendu %>
  <div class="prix"><span class="badge badge-primary"><%= t(:vendu_text) %></span></div>
  <% else %>
  <div class="prix"><%= product.prix %>€</div>
  <% end %>
  <%= link_to contactsproduit_path(product), class:'product-card-tjd-link' do %>
    <span class="sr-only">link to <%= product.nom %></span>
  <% end %>
  <% if product.vendu %>
    <h3><%= t(:vendu_text) %></h3>
    <% elsif product.reserve %>
    <h3><%= t(:reserve_text) %></h3>
  <% end %>
</div>